h2 {
  font-family: 'Source Sans Pro', sans-serif;
}
h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}
#nav_bar {
  position : absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
  height: 50px;
}
#content_bar {
  position: absolute;
  width: 195px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.nav_link {
  position: absolute;
  color : white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
  font-family: 'Source Sans Pro', sans-serif;
}
.nav_link:Hover {
  color: gray;
}
#app_des_con  {
  position : absolute;
  left: 0px;
  top: 50px;
  background-image: linear-gradient(90deg, #2c3e50, #3498db);
  width: 100%;
  height: 320px;
}
#banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 100px;
}
#banner_img {
  position: absolute;
  width: 80px;
  height: 80px;
}
#banner_title {
  position : absolute;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  top: -27px;
  left: 100px;
  font-size: 40px;
}
#page_title {
  position: relative;
  text-decoration: underline;
}
#content {
  position: absolute;
  width: 100%;
  max-width: 760px;
  text-align: left;
  left: 50%;
  transform: translateX(-50%);
  top: 390px;
  text-align: center;
}
.figure_img {
  width: 370px;
  height: 350px;
}
.viewCode {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  width: 150px;
  height: 30px;
  margin-bottom: 20px;
  border: 2px solid black;
  background-color: transparent;
  transition: .6s;
  color: black;
  cursor: pointer;
  border-radius: 50px;
}
.viewCode:Hover {
  background-color: black;
  color: orange;
}
