<!DOCTYPE HTML>
  <head>
    <title>Strokebase</title>
    <link rel='shortcut icon' type='image/x-icon' href="static/brain.png" />
    <link rel="stylesheet" type="text/css" href="/static/style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  </head>
  <body>
    <div class="parent">
      <div class="child" style="background-image: url('/static/ambulance.jpg')"></div>
    </div>
    <div id="shade-div"></div>
    <div id="main_content">
      <div id="backgroundLogo">
        <img id="logo_banner" src="/static/brain.png"></img>
      </div>
      <p id="banner">S t ro k e b a s e</p>
      <i><p id="des">→ Using machine learning to predict the risk of stroke</p></i>
      <a href="/questions"><input type="button" value="Get started" id="start"></input></a>
      <div id="fact_slides">
        <div id="fact_curr">- According to the CDC, someone in the US has a stroke every 40 seconds.</div>
      </div>
    </div>
    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" id="github_link"></img>
    <div id="tags_div">
      <p class="tag" id="t1">Python</p>
      <p class="tag" id="t2">sklearn</p>
      <p class="tag" id="t3">NumPy</p>
      <p class="tag" id="t4">Flask</p>
      <p class="tag" id="t5">JavaScript</p>
    </div>

    <div class="dropup">
      <button class="dropbtn">▲ Navigate</button>
      <div class="dropup-content">
        <a href="/figures">Figures</a>
        <a href="/about">About</a>
      </div>
    </div>

    <script src="/static/scripts/index.js"></script>

  </body>
</html>
